.page {
  background-color: #e7edf4;
  overflow: auto;
  padding-bottom: 18rem;
}

.pagesContainer {
  max-width: 80rem;
  margin: 0 auto;
  background: #fff url(../../assets/img/dash-bkgd.jpg) no-repeat top right;
  background-size: 680px 125px;
  margin-top: 3rem;
}

.titleContanier {
  padding: 3rem 2rem 0.5rem 2rem;
}

.pageTitle {
  font-family: 'Raleway-Medium',sans-serif;
  font-size: 1.625rem;
  color: #35393a;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 0.2rem solid #35393a;;
  width: fit-content;
}

.container {
  padding: 2rem;
}
