.dashboard-container {
  position: relative;
}

.page {
  background-color: #fff;
  overflow: auto;
  margin-left: 16rem;
  padding-bottom: 18rem;
}

.page-container {
  /* max-width: 80rem; */
  margin: 0 auto;
  background: #fff url(../../assets/img/dash-bkgd.jpg) no-repeat top right;
  background-size: 680px 125px;
  /* margin-top: 3rem; */
}

.title-container {
  padding: 1rem 2rem 2.5rem 2rem;
}

.title {
  font-family: 'Raleway-Medium', sans-serif;
  font-size: 1.625rem;
  color: #35393a;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 0.2rem solid #35393a;
  width: fit-content;
}

.container {
  padding: 2rem;
}
