.object {
  line-height: 1.8em;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.object:hover {
  background-color: #f0f0f0;
}

.object:global(.selected) {
  background-color: #f0f0f0;
}

.name {
  margin: 0 0.9em;
}

.type {
  font-weight: 700;
  margin-right: 0.9em;
}
