.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.35s ease;
}

.loading-text {
  margin-left: 0.7rem;
}

.particle.grey {
  background-color: #6b6262;
}

.particle.red {
  background-color: #c31547;
}

.particle.blue {
  background-color: #123e57;
}

.spin-particle {
  margin-right: 0.625rem;
  width: 3rem;
  height: 3rem;
  display: block;
  -webkit-animation: Rotate 2s infinite linear;
  animation: Rotate 2s infinite linear;
}

.particle {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #000;
  border-radius: 100%;

  -webkit-animation: Scale 2s infinite ease-in-out;
  animation: Scale 2s infinite ease-in-out;
}

.other-particle {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.other-other-particle {
  top: 0;
  bottom: auto;
  margin-left: 1.5rem;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes Scale {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
}

@keyframes Scale {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
