.page {
    background-color: #e7edf4;
    overflow: auto;
    padding-bottom: 18rem;
}

.page-container {
    max-width: 80rem;
    margin: 0 auto;
    background: #fff url(${bkgd}) no-repeat top right;
    background-size: 680px 125px;
    margin-top: 3rem;
}

.title-container{
    padding: 3rem 2rem 0.5rem 2rem;
}

.page-title {
    font-family: 'Raleway-Medium',sans-serif;
    font-size: 1.625rem;
    color: #35393a;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 0.2rem solid #35393a;;
    width: fit-content;
}

.container-styled{
    padding: 2rem;
}

.section-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-container{
    padding: 1rem;
    background-color: #f7fbff;
    border: solid #e4e8ed 1px;
}

.table-container{
    background-color: #fff;
    padding: 1rem;
    border: solid #e4e8ed 1px;
}

.section-title {
    font-family: 'Raleway-Medium',sans-serif;
    font-weight: 500;
    color: #042a68;
    width: fit-content;
}

.pagination-container{
    width: 100%;
    display: flex;
    justify-content: right;
  
    && > .pagination {
      margin-bottom: 0; 
    }
}

.button-styled{
    font-size: 0.87rem;
    border-radius: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  
    &&:hover,
    &&:focus {
      background-color: #6fc0d9;
      border-color: #34859d;
    }
}

.button-green {
    background-color: #00e097;
    border-color: #0a8867;
    font-size: 0.87rem;
    border-radius: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  
    &&:hover,
    &&:focus {
      background-color: #00a770;
    }
}

.input-group-styled {
    margin-bottom: 1rem;
    max-width: 20rem;
}

.input-group-text-styled {
    position: relative;
    left: -2.5rem;
    z-index: 3;
    background-color: transparent;
    border: none;

    &&>.form-control {
      border-radius: .25rem;
    }
}

.form-control-styled{
    border-radius: 1rem !important;
    padding-right: 2rem;
}

.nav-link-styled {
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    border-right: solid #176bd3 5px;
    margin-bottom: 3px;
    color: var(--black);
}

.nav-dropdown-styled{
    margin-bottom: 3px;

    && > .dropdown-toggle {
      padding: .75rem 1.25rem;
      border: 1px solid rgba(0,0,0,.125);
      border-right: solid #176bd3 5px;
      color: var(--black);
    }
  
    && > .dropdown-menu {
      padding: 0;
      border: none;
      width: 100%;
      border: 1px solid rgba(0,0,0,.125);
      border-top: 1px solid transparent;
      transition: max-height 1s ease-in-out;
    }
    
  
    && > .dropdown-menu.show {
      position: static !important;
      transform: none !important;
    }
}

.nav-dropdown-item-styled{

    padding: .75rem 1.25rem;
    text-align: center;
    background-color: #eaf1f8;
    color: #484a4c;
  
    &&::after {
      content: "";
      border: 1px solid #d1d1d1;
      display: block;
      width: 9rem;
      position: relative;
      top: 0.6rem;
      left: 50%;
      transform: translateX(-50%);
    }
  
    &&:last-child:after{
      border: 1px solid transparent;
    }
}

.input-group-icon {
    font-size: 1rem;
    vertical-align: 0;
}

.table-ul{
    padding-left: 15px;
    list-style: none;
}

.table-li{
    position: relative;
    word-wrap: break-word;
}

.span-icon{
    left: -0.9rem;
    top: 0.2rem;
    position: absolute;
    width: 1rem;
    line-height: inherit;
    color: var(--checkbox-green);
    transform: rotate(45deg);
}

.tabs-styles{
    && > a {
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
      }
}