.container {
    font-size: 1.3rem;
    padding-left: 15px;
    padding-right: 15px;
}

.table-thead {
    background: #f1f1f1;
}

.table-th {
    font-weight: 700;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table-body {
    overflow-y: auto;
    max-height: 40rem;
}

.table-row {
    border-bottom: 1px solid #ecf0f1;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.428571;
}

.table-col {
    display: inline-block;
}

.ul {
    list-style: none;
    padding: 0;
}

.glyphicon-styled {
    font-size: 10px;
}

.categories {
    & .treeindenter {
        position: relative;
        padding-left: 25px;
    }

    & .treetoggle {
        padding-left: 8px;
        padding-right: 8px;
        position: absolute;
        right: 0;
    }
}

.nodes { 
    & .treeindenter {
        padding-left: 40px;
      }
}

.properties { 
    & .treeindenter {
        padding-left: 55px;
      }
}

.values { 
    & .treeindenter {
        padding-left: 85px;
      }
}