.container {
    font-size: 1rem;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--white-bkgd);
    border-radius: 1rem;
    height: 45rem;
    border: 2px solid #535F74;
    overflow: hidden;
}

.table-thead{
    background: #535F74;
    display: flex;
    align-items: center;
    border-radius: 0.8rem 0.8rem 0 0;
}

.table-th{
    font-family: 'Lato-Bold', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: var(--white);
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.table-body{
    overflow-y: auto;
    max-height: 42rem;
}

.table-row{
    height: auto;
    flex-basis: auto;
    flex-grow: 1;
}

.table-col{
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.428571;
}

.table-col-left {
    border-bottom: 1px solid #BBC5CD;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.428571;
}

.table-col-right{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-left: 1px solid #BBC5CD;
}

.table-col-flex{
    display: flex;
}

.table-row-props {
    height: 100%;
    flex-basis: auto;
    flex-grow: 1;
    border-bottom: 1px solid #BBC5CD;
}

.table-col-props {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.428571;
}

.table-ul {
    padding-left: 15px;
    list-style: none;
}

.table-li {
    position: relative;
    word-wrap: break-word;
}

.table-styled {
    margin-bottom: 0;
}

.span-icon {
    left: -0.9rem;
    top: 0.2rem;
    position: absolute;
    width: 1rem;
    line-height: inherit;
    color: var(--checkbox-green);
    transform: rotate(45deg);
}

.div-center {
    text-align: center;
    padding: 1rem 0;
}

.code-span {
    color: #475162;
    font-size: 1.25rem;
    font-weight: bold;
}

.row-with-enum {
    align-items: end;
}

.col-right {
    text-align: right;
}

.indicator-content {
    width: 60%;
    min-width: 550px;
    text-align: center;
    margin: auto;
    padding: 1em 0;
    background-color: #fff;
    color: #535a60;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
}

.description-content {
    position: relative;
}

.prop-type {
    font-size: 14px;
}