.form {
  margin-bottom: 1rem;
  max-width: 20rem;
}

.formGroup {
  position: relative;
}

.formControl {
  display: inline-block;
  border-radius: 1rem !important;
  padding-right: 2rem;
}

.searchButton {
  display: inline-block;
  position: absolute;
  right: 0;
  color: #1b6bee;
  background-color: transparent;
  border-color: transparent;
  border-radius: 2rem;
}

.searchButton:hover,
.searchButton:focus {
  color: #0056b3;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: transparent;
  box-shadow: none;
}

.searchButton:active {
  color: #0056b3 !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
