.tab-nav-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.nav-link-styled {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 1.125rem;
    text-align: center;
    color: #042A68;
    padding: 0.7rem 2rem;
    width: 10rem;
    inline-size: 10rem; 
    background-color: #EBEBEB;
    padding: .7rem 2rem;
    margin-right: 10px;
  
    && .active {
      color: #fff;
      background-color: #535F74;
      padding: 0.7rem 2rem;
    }
}

.nav-styled {
    border-bottom: none;

    && .nav-link-styled{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
}